$primary: #73c7cf; 

$onPrimary: #263d49; 

$primaryContainer: #38596a; 

$onPrimaryContainer: #4db7c2; 

$secondary: #a7b4b4; 

$onSecondary: #27464b; 

$secondaryContainer: #27464b; 

$onSecondaryContainer: #a7b4b4; 

$tertiary: #7398cf; 

$onTertiary: #262c49; 

$tertiaryContainer: #4d7dc2; 

$onTertiaryContainer: #4d7dc2; 

$error: #ffb4a9; 

$onError: #680003; 

$errorContainer: #930006; 

$onErrorContainer: #ffb4a9; 

$colorbarbg: #131213; 

$background: #131213; 

$onBackground: #9fd8d4; 

$surface: #131213; 

$onSurface: #9fd8d4; 

$surfaceVariant: #37708E; 

$onSurfaceVariant: #9fd8d4; 

$outline: #9fd8d4; 

$shadow: #000000; 

$inverseSurface: #ecedec; 

$inverseOnSurface: #60272b; 

$inversePrimary: #8c3830; 

$darkmode: true;
