$primary: #f5cbd6; 

$onPrimary: #3e4a90; 

$primaryContainer: #4e5db3; 

$onPrimaryContainer: #eda0b5; 

$secondary: #a5c4c4; 

$onSecondary: #5c565c; 

$secondaryContainer: #5c565c; 

$onSecondaryContainer: #a5c4c4; 

$tertiary: #f5d5cb; 

$onTertiary: #5b3e90; 

$tertiaryContainer: #edb2a0; 

$onTertiaryContainer: #edb2a0; 

$error: #ffb4a9; 

$onError: #680003; 

$errorContainer: #930006; 

$onErrorContainer: #ffb4a9; 

$colorbarbg: #0f1016; 

$background: #0f1016; 

$onBackground: #d3bbd4; 

$surface: #0f1016; 

$onSurface: #d3bbd4; 

$surfaceVariant: #5F6B9D; 

$onSurfaceVariant: #d3bbd4; 

$outline: #d3bbd4; 

$shadow: #000000; 

$inverseSurface: #f0efe9; 

$inverseOnSurface: #2c442b; 

$inversePrimary: #0a3429; 

$darkmode: true;
