$primary: #f2f4f4; 

$onPrimary: #829386; 

$primaryContainer: #9eaaa1; 

$onPrimaryContainer: #d6dddd; 

$secondary: white; 

$onSecondary: #898989; 

$secondaryContainer: #898989; 

$onSecondaryContainer: white; 

$tertiary: #f2f3f4; 

$onTertiary: #82938e; 

$tertiaryContainer: #d6dadd; 

$onTertiaryContainer: #d6dadd; 

$error: #ffb4a9; 

$onError: #680003; 

$errorContainer: #930006; 

$onErrorContainer: #ffb4a9; 

$colorbarbg: #fcfdfd; 

$background: #fcfdfd; 

$onBackground: #383B36; 

$surface: #fcfdfd; 

$onSurface: #383B36; 

$surfaceVariant: #ABB5B1; 

$onSurfaceVariant: #383B36; 

$outline: #383B36; 

$shadow: #000000; 

$inverseSurface: #030202; 

$inverseOnSurface: #c7c4c9; 

$inversePrimary: #0d0b0b; 

$darkmode: false;
