$darkmode: false;
$primary: #005ac5;
$onPrimary: #ffffff;
$primaryContainer: #d6e2ff;
$onPrimaryContainer: #001a43;
$secondary: #575e71;
$onSecondary: #ffffff;
$secondaryContainer: #dae2f9;
$onSecondaryContainer: #141b2c;
$tertiary: #715574;
$onTertiary: #ffffff;
$tertiaryContainer: #fbd7fb;
$onTertiaryContainer: #29132d;
$error: #ba1b1b;
$onError: #ffffff;
$errorContainer: #ffdad4;
$onErrorContainer: #410001;
$colorbarbg: #000000;
$background: #000000;
$onBackground: #1b1b1e;
$surface: #fdfbff;
$onSurface: #1b1b1e;
$surfaceVariant: #e1e2ec;
$onSurfaceVariant: #44474f;
$outline: #74777f;
$shadow: #000000;
$inverseSurface: #2f3033;
$inverseOnSurface: #f2f0f4;
$inversePrimary: #acc7ff;
