$darkmode: true;
$primary: #ffb3b0;
$onPrimary: #601318;
$primaryContainer: #7d2a2c;
$onPrimaryContainer: #ffdad7;
$secondary: #e7bdbb;
$onSecondary: #442928;
$secondaryContainer: #5d3f3e;
$onSecondaryContainer: #ffdad8;
$tertiary: #e4c28d;
$onTertiary: #412d05;
$tertiaryContainer: #5a4319;
$onTertiaryContainer: #ffdea7;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #130F0F;
$background: #130F0F;
$onBackground: #ecdfde;
$surface: #201a1a;
$onSurface: #ecdfde;
$surfaceVariant: #534342;
$onSurfaceVariant: #d7c1c0;
$outline: #9f8c8b;
$shadow: #000000;
$inverseSurface: #ecdfde;
$inverseOnSurface: #362f2e;
$inversePrimary: #9d4142;
