$darkmode: true;
$primary: #ffb691;
$onPrimary: #571f00;
$primaryContainer: #793001;
$onPrimaryContainer: #ffdbca;
$secondary: #e6beac;
$onSecondary: #432a1e;
$secondaryContainer: #5c4033;
$onSecondaryContainer: #ffdbca;
$tertiary: #d0c88f;
$onTertiary: #363107;
$tertiaryContainer: #4d481c;
$onTertiaryContainer: #ede4aa;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #130F0D;
$background: #130F0D;
$onBackground: #ede0db;
$surface: #201a17;
$onSurface: #ede0db;
$surfaceVariant: #53443d;
$onSurfaceVariant: #d8c2b9;
$outline: #a08d85;
$shadow: #000000;
$inverseSurface: #ede0db;
$inverseOnSurface: #362f2c;
$inversePrimary: #994718;
